.is_multiUserGallery .grid{
	
	float:left;
}
.is_multiUserGallery .griditem{
	width:140px;
	float:left;
	padding:5px;
	margin:5px;
	border:2px solid #999;
}

.is_multiUserGallery .content{
	position:relative;
}	
.is_multiUserGallery .content a.is_gallery_showImageLast,
.is_multiUserGallery .content a.is_gallery_showImageNext{
	position:absolute;
	top:0;
	text-indent:10000px;
	width:50%;
	height:100%;
}
.is_multiUserGallery .content a.is_gallery_showImageLast{
	left:0;
}
.is_multiUserGallery .content a.is_gallery_showImageNext{
	right:0;
	text-align:right;
}
.is_multiUserGallery .content a.is_gallery_showImageLast:hover,
.is_multiUserGallery .content a.is_gallery_showImageNext:hover{
	background:#000;
	opacity:0.1;
}